.social__media {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__media__item {
  background: white;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.8rem;
  margin: 0.5rem;
  font-size: 1.2srem;
}
