#footer {
  width: 100%;
  padding: 1.2rem 0;
  background: var(--primary-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}
